<div class='whitebox'>
  <%= image_tag "logo_faded.png", :id => 'logo_faded' %>

<h1>Paste Free Statistics</h1>

<p>
Paste Free is a fairly new application so the statistics won't be very interesting
until there is additional data to look at.  However, here's a taste.
</p>

<p>
Since <%= User.find(:first, :order => 'created_at').created_at.to_formatted_s(:mdy) %>
there have been <%= number_with_delimiter(User.sum(:paste_count)) %> pastes made by
<%= number_with_delimiter(User.count) -%> users.
On average there have been <%= number_with_delimiter('%.2f' % User.average(:paste_count)) %> posts per user.
</p>

<p>
The most used syntaxes are:
<%= Syntax.find(:all, :order => 'paste_count DESC, name', :limit => 3).map {|e| e.name}.join(', ') %>.
</p>

<p>
The most used themes are:
<%= Theme.find(:all, :order => 'paste_count DESC, name', :limit => 3).map {|e| e.name}.join(', ') %>.
</p>

</div>
