<% form_for(@paste, :html => {:multipart => true}) do |f| %>

  <%= f.text_area :content %>

  <div class='below_pasted_content'>
    <div class='file'>
      <%= f.file_field :image %>
      <div id="file_instructions" style='display: none'>
        You can optionally upload an image up to 1 megabyte in size.
        <br />
        Images will be removed after 7 days.
      </div>
    </div> 
    <%= belongs_to_auto_completer :paste, :syntax, :name, {:id => 'paste_syntax'}, {:value => 'Syntax', :onclick => 'this.select()', :autocomplete => :off, :title => ""}, {:skip_style => true}  %>
    <%= f.submit "Paste!" %>



    <div id="syntax_instructions" style='display: none'>
      Begin typing the name of the syntax you wish to use for highlighting,<br />then select from the available options.
    </div>

    <% unless @paste.errors.blank? %>
      <div id='errors'>
        <b>Uh-oh. Errors.</b>
        <ul>
          <li><%= @paste.errors.full_messages.join('.</li><li>') %>.</li>
        </ul>
    <% end %>

  </div>

<% end %>

