<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Paste Free</title>
    <%= google_prototype :version => '1.6.0.2' %>
    <%= google_scriptaculous :version => '1.8.1' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'reset', 'base' %>
    <style type='text/css'>
      <%= yield :inline_styles %>
    </style>
    <%= yield :head %>
  </head>
  <body>

    <div id='header'>
      <div class='links'>
        <%= link_to 'new paste', new_paste_path %>
        |
        <%= link_to 'statistics', statistics_path %>
      </div>
    </div>


    <div id='content'>
      <%= yield %>
    </div>

    <div id='footer'>
      Paste Free is the work of 
      <%= mail_to 'philip@pjkh.com', 'Philip Hallstrom', :encode => 'javascript' %>
      and
      <%= link_to 'PJKH, LLC', 'http://www.pjkh.com', :target => 'pop' %>.
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-615621-4");
      pageTracker._trackPageview();
    </script>

  </body>
</html>
